<div class="wrapper fadeInDown" style="margin-top: 100px">
  <div id="formContent" >
    <!-- Tabs Titles -->
      <div>
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="assets/invoice.png" id="icon" alt="User Icon" style="height: 155px;width: 150px;"/>
        </div>
    
        <!-- Login Form -->
        <form>
          <input type="text" id="login" class="fadeIn second" name="username" placeholder="Usuario" [(ngModel)] = "username">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña"  [(ngModel)] = "password">
<!--          <input type="submit" class="fadeIn fourth" value="Iniciar Sesión">-->
          <button class="fadeIn fourth" type="button" (click)="login()">Iniciar Sesión</button>
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Olvidé mi contraseña</a>
        </div>
    
      </div>
    


  </div>
</div>
<p>{{username}}</p>